*{
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    color: black;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}
/* Reusable style */
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
img{
    width: 100%;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    
}