*{
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    color: black;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}
/* Reusable style */
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
img{
    width: 100%;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}

h1,h2,h3,h4,h5,h6{
    margin: 0.6rem 0;
    line-height: 1.25;
    font-weight: bold;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* header */
header{
    background-image: linear-gradient(45deg, rgb(83, 103, 126), transparent),url(/assets/pexels-tima-miroshnichenko-6131568.jpg) ;
    min-height:100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 999;
}
.logo-brand-toggle{
    font-size: 1.65rem;
    padding: 0.5rem 0;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

button.navbar-toggle {
    width: 1.65rem;
    padding: 0.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    background: none;
}
.navbar-toggle{
    border: none;
    margin-top: -11px;
}
.navbar-brand{
    font-weight: bolder;
    color: #88CAF6;
}
.navbar-brand span{
    color: #B6D98E;
}
.navbar-nav{
    margin: 0.2rem 0 0.6rem 0;
}
.navbar-collapse{
    display: none;
}
.nav-item{
padding: 0.6rem 0;
}

.nav-link{
        text-transform: uppercase;
        font-size: 16pt;
        font-weight: bold;
        color: #88CAF6;
}
.nav-link:hover{
    color: #B6D98E;
}
.hero-div{
    flex: 1;
    flex-direction: column;
    text-align: center;
}
@media screen and (min-width: 992px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-brand{
        font-size: 2rem;
    }
    button.navbar-toggle{
        display: none;
       
    }
    .navbar-collapse{
        display: block!important;
    }
    .navbar-nav{
        display: flex;
        margin: 0;
    }
    .nav-item{
        margin-left: 1.8rem;
    }
    
    .hero-div h1{
        font-size: 3.8rem;
    }
    
    
}