:root{
    
    --transition: all 0.5s ease-in-out;
}
*{
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    color: black;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}
/* Reusable style */
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
img{
    width: 100%;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}

h1,h2,h3,h4,h5,h6{
    margin: 0.6rem 0;
    line-height: 1.25;
    font-weight: bold;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    padding: 6.5rem 0;
}
/* header */
header{
    background-image: linear-gradient(45deg, rgb(83, 103, 126), transparent),url(/assets/pexels-tima-miroshnichenko-6131568.jpg) ;
    min-height:100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 999;
}
.logo-brand-toggle{
    font-size: 1.65rem;
    padding: 0.5rem 0;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

button.navbar-toggle {
    width: 1.65rem;
    padding: 0.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    background: none;
}
.navbar-toggle{
    border: none;
    margin-top: -11px;
}
.navbar-brand{
    font-weight: bolder;
    color: #88CAF6;
}
.navbar-brand span{
    color: #B6D98E;
}
.navbar-nav{
    margin: 0.2rem 0 0.6rem 0;
}
.navbar-collapse{
    display: none;
}
.nav-item{
padding: 0.6rem 0;
}

.nav-link{
        text-transform: uppercase;
        font-size: 16pt;
        font-weight: bold;
        color: #88CAF6;
}
.nav-link:hover{
    color: #B6D98E;
}
.hero-div{
    flex: 1;
    flex-direction: column;
    text-align: center;
}
/* Detail items & About */
.detail{
    background-color: #88CAF6;
}
#check-mark {
    width: 20%;
}
.detail-items{
    background-color: #fff;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    margin: 2rem 0;
    padding: 3.5rem 1.5rem;
    border-radius: 4px;
}
.detail-items:hover{
    -webkit-box-shadow: 0 5px 19px -2px rgb(248, 246, 246);
    -moz-box-shadow: 0 11px 19px -2px rgba(248, 246, 246, 1);
    box-shadow: 0 11px 19px -2px rgba(248, 246, 246, 1);
    transform: translateY(-5px);
}
.detail-items h2{
    font-size: 1.5rem;
    opacity: 0.8;
    font-weight: bold;
    color: #88CAF6;
 }
/* About */
#about h1{
    color: #5A8CAE;
}
.about-hero{
    background-image: url('/assets/pexels-lumn-406014.jpg');
    min-height:100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    font-size: 1.2rem;
}
section.about {
    background-color: #88CAF6;
    color: white;
    font-weight:bold;
    font-size: 1.1rem;
}
/*Blog*/
.blog h1{
    color: #88CAF6;
}
.blog-items{
    background-color: #fff;
    text-align: center;
    box-shadow: 0 21px 2px 0 rgba(90, 91, 95, 0.1);
    -webkit-box-shadow: 0 1px 12px 0 rgba(90, 91, 95, 0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    margin: 2rem 0;
    padding: 3.5rem 1.5rem;
    border-radius: 4px;
    /* background-color: #B6D98E; */
    text-align: left;
}
.blog-items:hover{
    -webkit-box-shadow: 0 5px 19px -2px rgb(248, 246, 246);
    -moz-box-shadow: 0 11px 19px -2px rgba(248, 246, 246, 1);
    box-shadow: 0 11px 19px -2px rgba(248, 246, 246, 1);
    transform: translateY(-5px);
    
}
.blog-title {
    text-align: center;
    margin-bottom: 3.1rem;
}
.blog-items a{
background-color: #88CAF6;
color: white;
padding: 0.52rem;
margin: 1.2rem 0;
}

.blog-items a:hover{
    background-color: #5A8CAE;
    color: white;
}
/* Services */
.services h1{
    color: #fff;
    text-align: center;
}
button{
    background-color: #fff;
    color: green;
    padding: 0.52rem;
    margin: 1.2rem 0;
    border: none;
    padding: 0.8rem 2rem;
    text-transform: uppercase;

}
.services{
    background-color: #88CAF6;
}
.services .row-2{
    margin-top: 2rem;
}
.service-item{
    border: 2.5px solid #fff;
    text-align: center;
    padding: 3.4rem 0;
    margin: 2rem 0;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
}
.line{
    width: 45px;
    margin: 1.2rem auto;
    background: #88CAF6;
    height: 2.5px;
}
.service-item h2{
    color: #5A8CAE;
    opacity: 0.7;
    font-size: 1.5rem;
}

.service-item .services{
    padding:1.5rem 0 1rem 0;
    line-height: 1.1rem;
}
 #span{
    display: block;
    }
 #span{
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: #B6D98E;
    font-weight: bold;
}
.service-item ul li{
    padding: 0.5rem 0;
    opacity: 0.7;
    color: #5A8CAE;
    font-weight:500;
}



/*Media Queries */
@media screen and (min-width: 768px){
    .detail .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .detail-items{
        margin: 0;
    }
    .blog .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .blog-items{
        margin: 0;
    }
    .services .row-2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .service-item{
        margin: 0;
    }
    
}
@media screen and (min-width: 992px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-brand{
        font-size: 2rem;
    }
    button.navbar-toggle{
        display: none;
    
    }
    .navbar-collapse{
        display: block!important;
    }
    .navbar-nav{
        display: flex;
        margin: 0;
    }
    .nav-item{
        margin-left: 1.8rem;
    }
    
    .hero-div h1{
        font-size: 3.8rem;
    }
    .about-hero h1{
        font-size: 3.8rem;
    }
    
}
@media screen and (min-width: 1200px){
    .hero-div h1{
        width: 100%;
    }
    .about-hero h1{
        width: 100%;
    }
    .detail .row{
        grid-template-columns: repeat(3, 1fr);
    }
    .blog .row{
        grid-template-columns: repeat(3, 1fr);
    }
    .services .row-2{
        grid-template-columns: repeat(4, 1fr);
    }
}
/* @media screen and (min-width: 300px){
    .services button{
        width: 100%;
    } 
} */

/* login & Account page */
#formPage{
    background-color: #88CAF6;
}
.header-2{
    background-image: none;
    min-height: 0;
}
.login-container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    background: #ffffff;
}