*{
    margin: 0;
}
/* header */
.red{
    border: none;
}
ul {
    display: flex;
    justify-content: space-evenly;
    letter-spacing: 5px;
    list-style: none;
    font-size: 20px;
    width: 100%;
    color: #88CAF6;
    font-weight: bold;
    margin-top: 10px;
}
li{
    padding: 4px;

}
.cell-hero{
    width: 100%;
}

img{
    width: 100%;
    margin-top: 10px;
}
#dog{
    height: 70%;
    width: 100%;
}
h1 {
    position: absolute;
    top: 50%;
    left: 45%;
    margin-top: 1.1rem;
}