body{
background-image:url(../img/background.png); 
}
.logo{
    width: 60%;
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul{
    text-align: center;
    list-style-type: none;
    font-family: scarlet-wood, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #EE3324;
    font-size: 30pt;
}

ul:click{
    fill: blue;
}
/* splash Page */
h2{
    margin-left: 20px;
}
.container{
    display: flex;
}
#splashPage{
    width: 60%;
    margin-left: 20px;
}
#mainPage{
    width: 60%;


}
